.card {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border: 2px solid #e6e6e6;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 500;
    
    &:hover,
    &.active {
      background-color: #fefae0;
      border-color: #dda15e;
      color: $primary-color;
    }
  }